<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Info</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Phone Listings -->
    <div class="row" id="news">
      <div class="col-md-6">
        <h2 class="heading">Latest Mars News</h2>
        <h3 class="heading">{{ mars.latest_news_title }}</h3>
        <p>{{ mars.latest_news_paragraph }}</p>
      </div>
    </div>

    <div class="row">
      <div class="container col-md-6">
          <div class="jumbotron">
              <h2 class="display-6">Featured Mars Image</h2>
                  <img src="{{ mars.featured_image }}" alt="..." class="col-md-12 img-fluid float-left mr-2 mb-1">
          </div>
      </div>

      <div class="container col-md-6">
          <div class="jumbotron">
              <h3 class="display-6">Mars Facts</h3>
          </div>
      </div>
    </div>

  </div>
</body>

</html>